<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dwello">
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:label="@string/title_activity_account"
            android:theme="@style/Theme.Dwello" />
        <activity
            android:name=".FavouritesActivity"
            android:exported="false"
            android:label="@string/title_activity_favourites"
            android:theme="@style/Theme.Dwello" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.Dwello">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Dwello" />
        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:label="@string/title_activity_auth"
            android:theme="@style/Theme.Dwello" />
        <activity
            android:name=".HomeScreen"
            android:exported="false"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.Dwello" />
        <activity
            android:name=".NavigationGraph"
            android:exported="false"
            android:label="@string/title_activity_navigation_graph"
            android:theme="@style/Theme.Dwello" />
    </application>

</manifest>